<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body onbeforeunload="return leave()" class="container">

    <header>
        <% include ../partials/header %>
        
       <link rel="stylesheet" type="text/css" href="static/css/testArena.css" media="all" />  
         
        <script type="text/javascript" src="/static/javascript/classes.js"></script>
        <script type="text/javascript" src="/static/javascript/saveTheIsland.js"></script>
        <script defer type="text/javascript" src="/static/javascript/testArena.js"></script>
        <script type="text/javascript" src="/static/javascript/async.js"></script>
        <!-- script type="text/javascript" src="/socket.io/socket.io.js"></script -->

    </header>

    <% include ../partials/message %>
    
    <main >	
       <div class="col_12">
        	<div class="col_3">
        <form name="uploadBotForm" id="uploadBotForm" enctype="multipart/form-data">
             <div id="player1FileChoose" class="form-item">
                 <label for="player1_bot_upload">
                 Select your bot for player 1
                 <span class="form-required" title="This field is required."> * </span>
               </label>
                <input id="player1_bot_upload" name="player1_bot_upload" type="file" required ></input>
             </div>
             <br>
             <div id="playerRadio" class="form-item">
               <label for="player2_bot_or_human">
                 Player 2 Type: <span class="form-required" title="This field is required."> * </span>
               </label>
               <input id="human" name="player2_bot_or_human" type="radio" value="human" checked="checked" required >Human</input>
               <input id="bot" name="player2_bot_or_human" type="radio" value="bot" required >Bot</input>
             </div>
             <div style="display:none" id="player2FileChoose" class="form-item">
                 <label for="player2_bot_upload"> Select your bot for player 2 </label>
                <input id="player2_bot_upload" name="player2_bot_upload" type="file" ></input>
             </div>
            <br><br>
            <input id="uploadBotButton" type="submit" value="Upload Bot">
            <p>
            <div id="status"></div>
            <hr>
          </form>
        		
        	<p id="playGameParagraph" style="display:none">
            <input id="playGame" type="button" value="Play Game">
            // this should start the game server side and return confirmation that it started
            <p>
            
        	<div id="humanInput" class="form-item">
              <h4>Human Input</h4>
              <textarea id="stdin"></textarea> 
              <button id = "send_move">Send Move</button> 
              <div id = "send_move_message"></div> 
            </div>
            
            <div id="echoTest" class="form-item">
              <h4>Echo Test</h4>
              <textarea id="echo_stdin"></textarea> 
              <button id = "echo_send_move">Send Move</button> 
              <div id="echo_status"></div> 
            </div>
            
          <div><br><hr><br></div>
          <div id="distance">CRTL + Mouse twice for coordinate info</div>
            
        	</div>
        	<div class="col_9">
        		<canvas style="border:1px solid" id="GameCanvas" width="1050" height="650"></canvas>
        	</div>
        	
        	<hr />
        	
        	<div class="col_4 ioPanels">
        	 <h4>Move List</h4>
           <div id="moveList"></div>
        	</div>
        	
       	 
       	 <div class="col_4 ioPanels">
       	   <h5>Standard Output</h5>
       	   <div id="stdout"></div>
       	 </div>
       	 
          <div class="col_4 ioPanels">
            <h5>Standard Error</h5>
            <div id="stderr"></div>
          </div>
        
        </div>
        <!-- END GRID -->
    </main>
  </body>
</html>

<script> 
	var id = "defaultIdValue";
	console.log("InitialId: ",id);

	function leave() {
		return "Leaving the page will stop your program from running!";
	}
	
	// TODO: guess this doesn't work sometimes
	// https://xhr.spec.whatwg.org/
	var unloadHandler = function () {
		$.ajax( {
			async: false,
			data: {
				id: id
			},
			error: function () {
				alert('Close notification error');
			},
			url: '/killGame'
		} );
	}
	
	$( function () {
		$( window ).unload( function () {
			unloadHandler();
		} );
		$( 'a.outlink' ).click( function () {
			unloadHandler = function () {};
		} );
	} );

	var resetValueAttrributeById = function(id) {
		document.getElementById(id).value = "";
	}
	
	$('#player1_bot_upload').click(function(){		
    	document.getElementById("status").innerHTML = "";
	});
	
	$('#player2_bot_upload').click(function(){		
    	document.getElementById("status").innerHTML = "";
	});
	
	// Listen for radio checks
	$('#human').click(function(){ 
	     $('#uploadBotButton').val( "Upload Bot");
	     $('#player2FileChoose').hide();
	     $('#humanInput').show();
	     $('#playGameParagraph').hide();
	     resetValueAttrributeById('player2_bot_upload');
	     resetValueAttrributeById('player1_bot_upload');     
	     document.getElementById("status").innerHTML = "";
	     document.getElementById("player2_bot_upload").required = false;
	});
	
	$('#bot').click(function(){ 
    	$('#uploadBotButton').val( "Upload Bots");
    	$('#player2FileChoose').show();
    	$('#humanInput').hide();    	
    	$('#playGameParagraph').hide();
      resetValueAttrributeById('player2_bot_upload');
      resetValueAttrributeById('player1_bot_upload');   
    	document.getElementById("status").innerHTML = "";
    	document.getElementById("player2_bot_upload").required = true;
	});
	
	//TODO:  add a box and button to send text for echo test
	document.getElementById("echo_send_move").addEventListener('click', function(ev) {		
	  var req = new XMLHttpRequest();
	  req.open("GET", "echoTest/?id=" + id +"&echo_stdin=" + document.getElementById("echo_stdin").value, true);
	  req.onload = function(oEvent) {
	    var response = JSON.parse(req.responseText);
	    if (response.error) {
	      document.getElementById("echo_status").innerHTML = response.error;
	    }
	    else if (response.status) {
	       document.getElementById("echo_status").innerHTML = response.status;
	    }
	    else {
	      // Something else
	      document.getElementById("echo_status").innerHTML = response;
	    }
		};
	  req.send();	  
	  ev.preventDefault();
	}, false);
	
	 document.getElementById("playGame").addEventListener('click', function(ev) {    
	    var req = new XMLHttpRequest();
	    req.open("GET", "startGame/?id=" + id, true);
	    req.onload = function(oEvent) {
	      var response = JSON.parse(req.responseText);
        document.getElementById("playGameParagraph").innerHTML = response.status;
      };
	    req.send();   
	    ev.preventDefault();
	  }, false);
	
	var form = document.forms.namedItem("uploadBotForm");
	
	form.addEventListener('submit', function(ev) {		
	  var output = document.getElementById("status");
	  var data = new FormData(document.forms.namedItem("uploadBotForm"));
	  var req = new XMLHttpRequest();
	  req.open("POST", "processBotUploads/?oldId=" + id, true);
	  req.onload = function(oEvent) {
	    if (req.status == 200) {
	      response = JSON.parse(req.responseText);
	      console.log("Good status " + JSON.stringify(response));
	      if (response.error) {
	        output.innerHTML = response.error;
	        $('#playGameParagraph').hide();
	      } else {
	        output.innerHTML = response.status;
	        $('#playGameParagraph').show();
	        id = response.id;
	      }
	      // then should stay disabled until game is over or change to restart game button
	    } else {
	      output.innerHTML = "Error " + req.status + " occurred uploading your file.<br \/>";
	      console.log("Bad status " + JSON.stringify(response));
	      if (response.error) {
	        output.innerHTML = response.error;
	      }
	      //disable play game button
	    }
	    // enable upload button in each case
	
	  };
	  req.send(data);
	  ev.preventDefault();

  }, false);
</script>