<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body onbeforeunload="return leave()" class="container">

    <header>
        <% include ../partials/header %>
        
       <link rel="stylesheet" type="text/css" href="static/css/testArena.css" media="all" />  
         
        <script type="text/javascript" src="/static/javascript/classes.js"></script>
        <script type="text/javascript" src="/static/javascript/saveTheIsland.js"></script>
        <script defer type="text/javascript" src="/static/javascript/testArena.js"></script>
        <script type="text/javascript" src="/static/javascript/async.js"></script>
        <!-- script type="text/javascript" src="/socket.io/socket.io.js"></script -->

    </header>

    <% include ../partials/message %>
    
    <main >	
       <div class="col_12">
        	<div class="col_3">
        <form name="testArenaForm" id="testArenaForm" enctype="multipart/form-data">
             <div id="playerRadio" class="form-item">
               <label for="player1_bot_or_human">
                 Player 1 Type:
                 <span class="form-required" title="This field is required."> * </span>
               </label>
               <input id="human" name="player1_bot_or_human" type="radio" checked="checked" required >Human</input>
               <input id="bot" name="player1_bot_or_human" type="radio" required >Bot</input>
             </div>
             <p>
             <div style="display:none" id="player1FileChoose" class="form-item">
                 <label for="player1_bot_upload">
                 Select your bot for player 1
                 <span class="form-required" title="This field is required."> * </span>
               </label>
                <input name="player1_bot_upload" type="file" required ></input>
             </div>
             <p>
             <div id="player2FileChoose" class="form-item">
                 <label for="player2_bot_upload">
                 Select your bot for player 2
                 <span class="form-required" title="This field is required."> * </span>
               </label>
                <input name="player2_bot_upload" type="file" required ></input>
             </div>
             <p>
             <p>
            <input id="submitButton" type="submit" value="Upload Bot">
            <p>
            <hr>
          </form>
        		
        	<p>
            <input id="playGame" type="button" value="Play Game">
            <p>
            
        	<div id="humanInput" class="form-item">
              <h4>Human Input</h4>
              <textarea id="stdin"></textarea> 
              <button id = "send_move">Send Move</button> 
              <div id = "send_move_message"></div> 
            </div>
            
          <div><br><hr><br></div>
          <div id="distance">CRTL + Mouse twice for coordinate info</div>
            
        	</div>
        	<div class="col_9">
        		<canvas style="border:1px solid" id="GameCanvas" width="1050" height="650"></canvas>
        	</div>
        	
        	<hr />
        	
        	<div class="col_4 ioPanels">
        	<h4>Move List</h4>
                <div id="moveList"></div>
        	</div>
        	
        	<div class="col_8 ioPanels">
        	 <h4>Debugging Info</h4>
        	 <div class="col_4 ioPanels">
        	   <h5>Standard Output</h5>
        	   <div id="stdout"></div>
        	 </div>
           <div class="col_4 ioPanels">
             <h5>Standard Error</h5>
             <div id="stderr"></div>
           </div>
        
        	</div>
        </div>
        <!-- END GRID -->
    </main>
  </body>
</html>

<script> 
	var id = '<%= locals.id %>'
	console.log(id);

	function leave() {
		return "Leaving the page will stop your program from running!";
	}
	
	var unloadHandler = function () {
		$.ajax( {
			async: false,
			data: {
				//current_uri: document.location.toString(),
				id: id
			},
			error: function () {
				alert('Close notification error');
			},
			success: function ( data ) {
				alert('Successful close notification');
			},
			url: '/killGame'
		} );
	}
	
	$( function () {
		$( window ).unload( function () {
			unloadHandler();
		} );
		$( 'a.outlink' ).click( function () {
			unloadHandler = function () {};
		} );
	} );
	 
	// Listen for radio checks
	$('#human').click(function(){ 
    	$('#submit').val( "Upload Bot");
    	$('#player1FileChoose').hide();
    	$('#humanInput').show();
	});
	$('#bot').click(function(){ 
    	$('#submit').val( "Upload Bots");
    	$('#player1FileChoose').show();
    	$('#humanInput').hide();
	});
	
	/*form.addEventListener('submit', function(ev) {
	  document.getElementById('submitButton').disabled = true; // make enabled if file upload changed
	  
	  var req = new XMLHttpRequest();
	  var theForm = new FormData(form);
	  req.open("POST", "processInitialConfiguration", true);
	  req.send(theForm);
	  
	  req.onload = function(event) {
	    if (req.status === 200) {
	      console.log("onload");
	    } else {
	      console.log("error onload");
	    }
	  };
	  ev.preventDefault();
	}, false);*/
</script>