<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body onbeforeunload="return leave()" class="container">

    <header>
        <% include ../partials/header %>
        
       <link rel="stylesheet" type="text/css" href="static/css/testArena.css" media="all" />  
         
        <script type="text/javascript" src="/static/javascript/classes.js"></script>
        <script type="text/javascript" src="/static/javascript/saveTheIsland.js"></script>
        <script defer type="text/javascript" src="/static/javascript/testArena.js"></script>
        <script type="text/javascript" src="/static/javascript/async.js"></script>
        <!-- script type="text/javascript" src="/socket.io/socket.io.js"></script -->

    </header>

    <% include ../partials/message %>
    
    <main >	
       <div class="col_12">
        	<div class="col_3">
        <form name="uploadBotForm" id="uploadBotForm" enctype="multipart/form-data">
        	<input id="tabId" style="display:none" name="tabId" value="tabId">
             <div id="playerRadio" class="form-item">
               <label for="player1_bot_or_human">
                 Player 1 Type:
                 <span class="form-required" title="This field is required."> * </span>
               </label>
               <input id="human" name="player1_bot_or_human" type="radio" value="human" checked="checked" required >Human</input>
               <input id="bot" name="player1_bot_or_human" type="radio" value="bot" required >Bot</input>
             </div>
             <p>
             <div style="display:none" id="player1FileChoose" class="form-item">
                 <label for="player1_bot_upload">
                 Select your bot for player 1
                 <span class="form-required" title="This field is required."> * </span>
               </label>
                <input id="player1_bot_upload" name="player1_bot_upload" type="file" ></input>
             </div>
             <p>
             <div id="player2FileChoose" class="form-item">
                 <label for="player2_bot_upload">
                 Select your bot for player 2
                 <span class="form-required" title="This field is required."> * </span>
               </label>
                <input id="player2_bot_upload" name="player2_bot_upload" type="file" required ></input>
             </div>
             <p>
             <p>
            <input id="submitForm" type="submit" value="Upload Bot">
            <p>
            <div id="status"></div>
            <hr>
          </form>
        		
        	<p>
            <input id="playGame" type="button" value="Play Game">
            // this should start the game server side and return confirmation that it started
            <p>
            
        	<div id="humanInput" class="form-item">
              <h4>Human Input</h4>
              <textarea id="stdin"></textarea> 
              <button id = "send_move">Send Move</button> 
              <div id = "send_move_message"></div> 
            </div>
            
          <div><br><hr><br></div>
          <div id="distance">CRTL + Mouse twice for coordinate info</div>
            
        	</div>
        	<div class="col_9">
        		<canvas style="border:1px solid" id="GameCanvas" width="1050" height="650"></canvas>
        	</div>
        	
        	<hr />
        	
        	<div class="col_4 ioPanels">
        	<h4>Move List</h4>
                <div id="moveList"></div>
        	</div>
        	
        	<div class="col_8 ioPanels">
        	 <h4>Debugging Info</h4>
        	 <div class="col_4 ioPanels">
        	   <h5>Standard Output</h5>
        	   <div id="stdout"></div>
        	 </div>
           <div class="col_4 ioPanels">
             <h5>Standard Error</h5>
             <div id="stderr"></div>
           </div>
        
        	</div>
        </div>
        <!-- END GRID -->
    </main>
  </body>
</html>

<script> 
	var id;
	document.getElementById("tabId").value = id;
	console.log("setIdFirst",id);
	console.log("TabIdFirst",document.getElementById("tabId"));

	function leave() {
		return "Leaving the page will stop your program from running!";
	}
	
	// TODO: guess this doesn't work sometimes
	// https://xhr.spec.whatwg.org/
	var unloadHandler = function () {
		$.ajax( {
			async: false,
			data: {
				id: id
			},
			error: function () {
				alert('Close notification error');
			},
			url: '/killGame'
		} );
	}
	
	$( function () {
		$( window ).unload( function () {
			unloadHandler();
		} );
		$( 'a.outlink' ).click( function () {
			unloadHandler = function () {};
		} );
	} );

	var resetForm = function(id) {
		document.getElementById(id).value = "";
	}
	
	$('#player1_bot_upload').click(function(){		
    	document.getElementById("status").innerHTML = "";
	});
	
	$('#player2_bot_upload').click(function(){		
    	document.getElementById("status").innerHTML = "";
	});
	
	// Listen for radio checks
	$('#human').click(function(){ 
    	$('#submitForm').val( "Upload Bot");
    	$('#player1FileChoose').hide();
    	$('#humanInput').show();
    	//document.getElementById("uploadBotForm").reset();
    	resetForm('player2_bot_upload');
    	resetForm('player1_bot_upload');    	
    	document.getElementById("status").innerHTML = "";
    	document.getElementById("player1_bot_upload").required = false;
	});
	
	$('#bot').click(function(){ 
    	$('#submitForm').val( "Upload Bots");
    	$('#player1FileChoose').show();
    	$('#humanInput').hide();
    	//document.getElementById("uploadBotForm").reset();
    	resetForm('player2_bot_upload');
    	resetForm('player1_bot_upload');
    	document.getElementById("status").innerHTML = "";
    	document.getElementById("player1_bot_upload").required = true;
	});
	
	var form = document.forms.namedItem("uploadBotForm");
	
	form.addEventListener('submit', function(ev) {		
	  var req1 = new XMLHttpRequest();
	  // disable the upload button
	  req1.open("GET", "newGame/?id=" + id, true);
	  
	  req1.onload = function(){	
	      console.log("in onload"); 
	      id = req1.responseText;
	      document.getElementById("tabId").value = id;
		  console.log("server response",id);
	      console.log("tabId",document.getElementById("tabId"));
          var
          oOutput = document.getElementById("status"),
          oData = new FormData(document.forms.namedItem("uploadBotForm"));  	  
	      var oReq = new XMLHttpRequest();
	      oReq.open("POST", "uploadBot", true);
		  oReq.onload = function(oEvent) {
		    if (oReq.status == 200) {
		    	oOutput.innerHTML = "Uploaded!";
		    	// make sure the id returned is set to the client id
		    	// enable play game button
		    	// then should stay disabled until game is over or change to restart game button
		    } else {
		    	oOutput.innerHTML = "Error " + oReq.status + " occurred uploading your file.<br \/>";
		    	//disable play game button
		    }
		    // enable upload button in each case
		  };
		  oReq.send(oData);
	      ev.preventDefault();   
	  };
	  req1.send();	  
	  ev.preventDefault();
	}, false);
</script>