<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head><% include ../partials/head %>
</head>
<body onbeforeunload="return leave()" class="container">

  <header>
    <% include ../partials/header %>

    <!--<link rel="stylesheet" type="text/css" href="static/css/testArena.css" media="all" />-->

    <script type="text/javascript" src="/static/javascript/drawable.js"></script>
    <script type="text/javascript" src="/static/javascript/game.js"></script>
    <script defer type="text/javascript" src="/static/javascript/testArena.js"></script>
    <script type="text/javascript" src="/static/javascript/async.js"></script>
    <!-- script type="text/javascript" src="/socket.io/socket.io.js"></script -->

  </header>

  <% include ../partials/message %>

  <div class="row">
    <div class="col-sm-4">
      <form name="uploadBotForm" id="uploadBotForm" enctype="multipart/form-data">
        <div id="player1FileChoose" class="form-item">
          <label for="player1_bot_upload"> Select your bot for player 1 <span class="form-required"
            title="This field is required."
          > * </span>
          </label> <input id="player1_bot_upload" name="player1_bot_upload" type="file" required></input>
        </div>
        <br>
        <div id="playerRadio" class="form-item">
          <label for="player2_bot_or_human"> Player 2 Type: 
            <span class="form-required" title="This field is required."> * </span>
          </label> 
          <input id="human" name="player2_bot_or_human" type="radio" value="human" checked="checked" required>Human</input>
          <input id="bot" name="player2_bot_or_human" type="radio" value="bot" required>Bot</input>
        </div>
        <div style="display: none" id="player2FileChoose" class="form-item">
          <label for="player2_bot_upload"> Select your bot for player 2 </label> 
          <input id="player2_bot_upload"name="player2_bot_upload" type="file"></input>
        </div>
        <br>
        <br> 
        <input id="uploadBotButton" type="submit" value="Upload Bot">
        <br>
        <div id="uploadBotStatus"></div>
      </form>
      
      <hr>
      
      <div id="gameControlDiv" style="display: none">
        <input id="startNewGame" type="button" value="Start Game" style="display: none">
        <input id="killCurrentGame" type="button" value="Kill Game" style="display: none">
        <p id="gameControlStatus"> Press Play Game to start a new game.
      </div>

      <div id="humanInput" class="form-item">
        <h4>Human Input</h4>
        <textarea id="humanInput"></textarea>
        <button id="send_move">Send Move</button>
        <div id="humanInput_status"></div>
      </div>
      
      <!--  
      <div id="echoTest" class="form-item">
        <h4>Echo Test</h4>
        <textarea id="echo_stdin"></textarea>
        <button id="echo_send_move">Send Move</button>
        <div id="echo_status"></div>
      </div>
      -->

      <div>
        <br>
        <hr>
        <br>
      </div>
      <div id="distance">CRTL + Mouse twice for coordinate info</div>

    </div>
    
    <div class="col-sm-8">
      <canvas style="border: 1px solid" id="GameCanvas" width="1050" height="650"></canvas>
    </div>
  </div> <!-- End Row -->
  
  <hr />
  <div class="row">
    <div class="col-sm-4 ioPanels">
      <h4>Move List</h4>
      <div id="moveList" class="scrollableBox"></div>
    </div>


    <div class="col-sm-4 ioPanels">
      <h4>Standard Output</h5>
      <div id="stdout" class="scrollableBox"></div>
    </div>

    <div class="col-sm-4 ioPanels">
      <h4>Standard Error</h5>
      <div id="stderr" class="scrollableBox"></div>
    </div>

  </div>

</body>
</html>