<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/javascript/async.js"></script>
    <script type="text/javascript" src="/static/javascript/drawable.js"></script>
    <script type="text/javascript" src="<%= locals.gameJavascriptUrl %>"></script>
    <script defer type="text/javascript" src="/static/javascript/testArena.js"></script>
    <script>   
		function leave() {
		     return "Leaving the page will stop your program from running!";
		   }
	</script>
</head>

<body onbeforeunload="return leave()" class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="row">
    <div class="col-sm-4">
    <div id="upload_and_share_form_container" >
        <p id="userID"><p>
        
        <div id="botShareRadio" class="form-item">
            <label for="play_or_share"> Either play a game or share a bot with others.
              <span class="form-required" title="This field is required."> * </span>
            </label> 
            <input id="playRadio" name="play_or_share" type="radio" value="play" checked="checked" required>Play A Game</input>
            <input id="shareRadio" name="play_or_share" type="radio" value="share"  required>Share a Bot</input> 
        </div>
        <br>
        
        <form name="shareBotForm" id="shareBotForm" enctype="multipart/form-data">
          <p> Bots uploaded here will be made available system wide to all other users for up to the duration specified below. </p>
          <p style="color:red"><b> Navigating away from this page, sharing another bot, or playing a game on this tab will end the sharing session.</b></p>
          <br>
          <div id="sharedBotFileChoose" class="form-item">
            <label for="shared_bot_id_prefix"> Optionally prefix your shared id with a more meaningful name </label> 
            <input id="shared_bot_id_prefix" name="shared_bot_id_prefix" type="text"></input>
           
            <label for="shared_bot_timeout"> Optionally enter a duration in hours to share the bot. Default is 2 hours. </label> 
            <input type="number" name="shared_bot_timeout" min="1" max="336">
            <label for="shared_bot_upload"> Select your bot to share <span class="form-required"
              title="This field is required."> * </span>
            </label> 
            
            <input id="shared_bot_upload" name="shared_bot_upload" type="file" required></input>
          </div>
          <br>
          <input id="uploadSharedBotButton" type="submit" value="Share Bot">
        </form>
        
        
        <form name="uploadBotForm" id="uploadBotForm" enctype="multipart/form-data">
          <label> Player 1 Selection: </label> 
          <div id=player_1_bot_select_div  data-toggle="buttons">
            Upload Bot <input  id = "custom_player1_bot_select" name="player1_bot_select" type="radio" value="customBot" checked="checked" required></input>
            Shared Bot <input id = "shared_player1_bot_select" name="player1_bot_select"  type="radio" value="shared" required></input>
            Preloaded Bot <input id = "preloaded_player1_bot_select" name="player1_bot_select"  type="radio" value="preloaded" required></input>
          </div>
          
          <div id="player1_shared_bot_div" style="display: none;" >
            <input type="text" name="player1_shared_bot_id"  id="player1_shared_bot_id" list="shared_bot_id_list" placeholder="Begin typing a shared id">
          </div>
          
          <div id="player1FileChoose" class="form-item">
            <input id="player1_bot_upload" name="player1_bot_upload" type="file" required></input>
          </div>
          
          <hr>
          
          <label> Player 2 Selection: </label> 
         
          <div id="playerRadio" class="form-item">
            <input id="human" name="player2_bot_or_human" type="radio" value="human" checked="checked" required>Human</input>
            <input id="bot" name="player2_bot_or_human" type="radio" value="bot" required>Bot</input>
          </div>
          <br>
          <div id=player_2_bot_select_div>
            Upload Bot <input id = "custom_player2_bot_select" name="player2_bot_select" type="radio" value="customBot" checked="checked" required></input>
            Shared Bot <input id = "shared_player2_bot_select" name="player2_bot_select"  type="radio" value="shared" required></input>
            Preloaded Bot <input id = "preloaded_player2_bot_select" name="player2_bot_select"  type="radio" value="preloaded" required></input>
          </div>
  
          <div id="player2_shared_bot_div" style="display: none;" >
            <input type="text" name="player2_shared_bot_id" id="player2_shared_bot_id" list="shared_bot_id_list" placeholder="Begin typing a shared id">
          </div>
          
          <div style="display: none" id="player2FileChoose" class="form-item">
            <input id="player2_bot_upload"name="player2_bot_upload" type="file"></input>
          </div>
          <br>
          <input id="uploadBotButton" type="submit" value="Upload Bot">
          <br>
          <div id="uploadBotStatus"></div>
          
          <datalist id="shared_bot_id_list"></datalist>
        </form>
        <hr>
      </div>
      
     
      
      <div id="gameControlDiv" style="display: none">
        <input id="startNewGame" type="button" value="Start Game" style="display: none">
        <input id="killCurrentGame" type="button" value="Kill Game" style="display: none">
        <input id="disableAnimations" type="button" value="Skip to results" style="display: none">
        <p>
        <div id="extraGameControls" class="form-item"></div>
        <p>
        <div id="humanInput" class="form-item" style="display: none">
          <h4>Human Input</h4>
          <div id="humanInputElements">
          	<form name="humanInputForm" id="humanInputForm">
          	</form>
          </div>
          <br>
          <button id="send_move">Send Move</button>
        </div>
      </div>

    </div>
    
    <div class="col-sm-8">
      <canvas style="border: 1px solid; z-index:-1" id="GameCanvas" width="1050" height="650"></canvas>
    </div>
  </div> <!-- End Row -->
  
  <hr />
  <div class="row">
    <div class="col-sm-6 ioPanels">
      <h4>Standard Output</h5>
      <div id="stdout" class="scrollableBox"></div>
    </div>

    <div class="col-sm-6 ioPanels">
      <h4>Standard Error</h5>
      <div id="stderr" class="scrollableBox"></div>
    </div>
    <div class="col-sm-6 ioPanels">
      <h4>Move List</h4>
      <div id="moveList" class="scrollableBox"></div>
    </div>
    <div class="col-sm-6 ioPanels">
      <h4>Board List</h4>
      <div id="boardList" class="scrollableBox"></div>
    </div>




  </div>

</body>
</html>