<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/static/javascript/async.js"></script>
    <script type="text/javascript" src="/static/javascript/drawable.js"></script>
    <script type="text/javascript" src="<%= locals.gameJavascriptUrl %>"></script>
    <script defer type="text/javascript" src="/static/javascript/testArena.js"></script>
    <script>   
		function leave() {
		     return "Leaving the page will stop your program from running!";
		   }
	</script>
</head>

<body onbeforeunload="return leave()" class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <div class="row">
    <div class="col-sm-4">
      <p id="userID"><p>
      <form name="uploadBotForm" id="uploadBotForm" enctype="multipart/form-data">
        <div id=player_1_bot_select_div>
          Custom Bot Upload <input id = "custom_player1_bot_select" name="player1_bot_select" type="radio" value="customBot" checked="checked" required></input>
          Preloaded Bot <input id = "preloaded_player1_bot_select" name="player1_bot_select" display="inline" type="radio" value="preloaded" required></input>
        </div>
        <div id="player1FileChoose" class="form-item">
          <label for="player1_bot_upload"> Select your bot for player 1 <span class="form-required"
            title="This field is required."
          > * </span>
          </label> 
          <input id="player1_bot_upload" name="player1_bot_upload" type="file" required></input>
        </div>
        <br>
        <div id="playerRadio" class="form-item">
          <label for="player2_bot_or_human"> Player 2 Type: 
            <span class="form-required" title="This field is required."> * </span>
          </label> 
          <input id="human" name="player2_bot_or_human" type="radio" value="human" checked="checked" required>Human</input>
          <input id="bot" name="player2_bot_or_human" type="radio" value="bot" required>Bot</input>
        </div>
        <div id=player_2_bot_select_div>
          Custom Bot Upload <input id = "custom_player2_bot_select" name="player2_bot_select" type="radio" value="customBot" checked="checked" required></input>
          Preloaded Bot <input id = "preloaded_player2_bot_select" name="player2_bot_select" display="inline" type="radio" value="preloaded" required></input>
          Another ID <input id = "another_id_player2_bot_select" name="player2_bot_select" display="inline" type="radio" value="anotherId" required></input>
          <div id="idSelectBox" style="display: none;" >double-click to refresh or click radio button </div>
        </div>
        <div style="display: none" id="player2FileChoose" class="form-item">
          <label for="player2_bot_upload"> Select your bot for player 2 </label> 
          <input id="player2_bot_upload"name="player2_bot_upload" type="file"></input>
        </div>
        <br>
        <br> 
        <input id="uploadBotButton" type="submit" value="Upload Bot">
        <br>
        <div id="uploadBotStatus"></div>
      </form>
      
      <hr>
      
      <div id="gameControlDiv" style="display: none">
        <input id="startNewGame" type="button" value="Start Game" style="display: none">
        <input id="killCurrentGame" type="button" value="Kill Game" style="display: none">
        <p>
        <div id="extraGameControls" class="form-item"></div>
        <p>
        <div id="humanInput" class="form-item" style="display: none">
          <h4>Human Input</h4>
          <div id="humanInputElements">
          	<form name="humanInputForm" id="humanInputForm">
          	</form>
          </div>
          <br>
          <button id="send_move">Send Move</button>
        </div>
      </div>

    </div>
    
    <div class="col-sm-8">
      <canvas style="border: 1px solid; z-index:-1" id="GameCanvas" width="1050" height="650"></canvas>
    </div>
  </div> <!-- End Row -->
  
  <hr />
  <div class="row">
    <div class="col-sm-6 ioPanels">
      <h4>Standard Output</h5>
      <div id="stdout" class="scrollableBox"></div>
    </div>

    <div class="col-sm-6 ioPanels">
      <h4>Standard Error</h5>
      <div id="stderr" class="scrollableBox"></div>
    </div>
    <div class="col-sm-6 ioPanels">
      <h4>Move List</h4>
      <div id="moveList" class="scrollableBox"></div>
    </div>
    <div class="col-sm-6 ioPanels">
      <h4>Board List</h4>
      <div id="boardList" class="scrollableBox"></div>
    </div>




  </div>

</body>
</html>